<html>
<head>
    <title> University Admit Eligibility Predictor </title>
    <link rel="stylesheet" type="text/css" href="/Project Development Phase/Sprint 1/static/register and login.css">  
     
</head>
    <body>
    <form method="post" action="login.php">
    <div class="login-box">
    <img src="/Project Development Phase/Sprint 1/static/avatar.png" class="avatar">
        <h1>LOGIN</h1>
            
            <p class="mail">E-Mail</p>
            <input type="email" name="email" placeholder="Enter Email id" required>
            <p class="password">Password</p>
            <input type="password" name="password" placeholder="Enter Password" required>

            <input type="submit" class="button" name="submit" value="Login" onclick="this.form.target=''"/>
            <div class="login"></div>
            <p>New user? <a href="register.html">Create Account</a></p>
               <br>
          <button type="button" class="login-with-google-btn" >
                     Sign in with Google
         </button>

        </div>
            
        </div>
        
       
        </form>
        
        </body>
</html>        
    