<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>RESULT</title>
      <link rel="stylesheet" href="home.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
         <div class="logo" >
            University Admit Eligibility Predictor
         </div>
         &ensp;&ensp;&ensp;&ensp; &ensp;&ensp;&ensp; &ensp;&ensp;&ensp; &ensp;&ensp;&ensp; &ensp;&ensp;&ensp;
         &ensp;&ensp;&ensp; &ensp;&ensp;&ensp;
         <div class="nav-items">
            <li><a href="#">Home</a></li>
            <li><a href="#">Chat</a></li>
            <li><a href="#">Feedback</a></li>
            <li><a href="#">About</a></li>
            <!-- <li><a href="#">Feedback</a></li> -->
         </div>
         </nav>
         <br> <br> <br> <br> <br>
         <p class="res"> Your chance of getting admit in this University is: </p>
         <div class="dataset">
            <form action="" method="post">
                
                <p class="result">
                    {{Predict}}
                 </p>
                 
                 <div class="rbutton">
                 <input type="button" class="button"value="back"  onclick="window.location.href='home.html'" />
                </div>
             </form>
              </div>
         
            
      </body>
   </html>